# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Entornos Virtuales ---
venv/
env/
.env

# --- Bases de datos ---
database.db
*.sqlite
*.sqlite3

# --- Scripts de pruebas o temporales ---
bdd.py
temp/
*.log

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Editores ---
.vscode/
.idea/