# ==========================================
# Extensiones para el Backend (Python / FastAPI)
# ==========================================
# Entorno Virtual
backend/venv/
backend/.venv/
venv/
.venv/

# Base de datos local SQLite
backend/*.db
*.db

# Caché de Python
__pycache__/
*.pyc
backend/**/__pycache__/

# Descargas locales del recolector (ya que usamos AWS S3)
backend/Pics/